<footer class="main-footer bg-darkgreen">
    <small>Copyright &copy; 2020 Sistema de Estadísticas del G2-ERD </small>
    <div class="float-right d-none d-sm-inline-block">
        <small>Versión 1.0.0</small>
    </div>
</footer>
