<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<!-- Navbar -->
<nav class="main-header navbar navbar-expand   navbar-success">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li>

        <li class="nav-item d-none d-sm-inline-block">
            <a href="index.html" class="nav-link"></a>
        </li>

    </ul>

</nav>
<!-- /.navbar -->
<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4 bg-gradient-secondady">
    <!-- Brand Logo -->
    <a href="~/Home/Index/" class="brand-link">
        <img src="~/Content/dist/img/LogoERD.png" alt="Logo ERD" class="brand-image img-circle elevation-3"
             style="opacity: .8">
        <span class="brand-text font-weight-light">SistRE-G2</span>
    </a>

    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
        with font-awesome or any other icon font library -->
        @*Dashboard*@
        <li class="nav-item">
            <a href="#" class="nav-link badge-info">
                <i class="nav-icon fa fa-home "></i>
                <p>
                    Dashboard
                    <!--<i class="right fas fa-angle-left"></i>-->
                </p>
            </a>

        </li>
        @*Menú Administración*@
        <li class="nav-item has-treeview menu-open">
            <a href="#" class="nav-link badge-info">
                <i class="nav-icon fa fa-cogs fa-fw"></i>
                <p>
                    Administración
                    <i class="right fas fa-angle-left"></i>
                </p>
            </a>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="./index.html" class="nav-link badge-info">
                        <i class="fas fa-university nav-item"></i>
                        <p><small>Institución</small></p>

                    </a>
                </li>
                <li class="nav-item">
                    <a href="./index.html" class="nav-link badge-info">
                        <i class="fa fa-user-plus nav-item"></i>
                        <p><small>Usuarios</small></p>

                    </a>
                </li>
                <li class="nav-item">
                    <a href="./index.html" class="nav-link">
                        <i class="fas fa-user-check nav-item"></i>
                        <p><small>Roles</small></p>
                    </a>
                </li>

            </ul>
        </li>

        @*Menú Configuración*@
        <li class="nav-item has-treeview menu-open">
            <a href="#" class="nav-link badge-info">
                <i class="nav-icon fa fa-cog fa-fw"></i>
                <p>
                    Configuración
                    <i class="right fas fa-angle-left"></i>
                </p>
            </a>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="~/TipoNovedad/Index/" class="nav-link badge-info">
                        <i class="far fa-circle nav-item"></i>
                        <p> <small>Tipos de novedad</small></p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="~/CausaHerida/Index/" class="nav-link badge-info">
                        <small> <i class="far fa-circle nav-item"></i></small>
                        <p> <small>Causa Herida</small></p>
                    </a>

                </li>
                <li class="nav-item">
                    <a href="~/TipoDroga/Index/" class="nav-link">
                        <small> <i class="far fa-circle nav-item"></i></small>
                        <p> <small> Tipos de drogas</small></p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="~/TipoApresamientos/Index/" class="nav-link">
                        <small> <i class="far fa-circle nav-item"></i></small>
                        <p> <small> Tipos de apresamientos</small></p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="./index.html" class="nav-link">
                        <small> <i class="far fa-circle nav-item"></i></small>
                        <p> <small>Opt4 </small></p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="./index.html" class="nav-link">
                        <small> <i class="far fa-circle nav-item"></i></small>
                        <p> <small>Opt5 </small></p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="./index.html" class="nav-link">
                        <small> <i class="far fa-circle nav-item"></i></small>
                        <p> <small>Opt6 </small></p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="./index.html" class="nav-link">
                        <small> <i class="far fa-circle nav-item"></i></small>
                        <p> <small>Opt7 </small></p>
                    </a>
                </li>
            </ul>
        </li>
        @*Menú Procesos*@
        <li class="nav-item has-treeview menu-open">
            <a href="#" class="nav-link badge-info">
                <i class="nav-icon fa fa-database fa-fw"></i>
                <p>
                    Procesos
                    <i class="right fas fa-angle-left"></i>
                </p>
            </a>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="./index.html" class="nav-link badge-info">
                        <i class="fas fa-university nav-item"></i>
                        <p><small>Institución</small></p>

                    </a>
                </li>
                <li class="nav-item">
                    <a href="./index.html" class="nav-link badge-info">
                        <i class="fas fa-user-cog nav-item"></i>
                        <p><small>Usuarios</small></p>

                    </a>
                </li>
                <li class="nav-item">
                    <a href="./index.html" class="nav-link">
                        <i class="fas fa-user-check nav-item"></i>
                        <p><small>Roles</small></p>
                    </a>
                </li>

            </ul>
        </li>

        @*Menú Consuta*@
        <li class="nav-item has-treeview menu-open">
            <a href="#" class="nav-link badge-info">
                <i class="nav-icon fa fa-chart-area fa-fw"></i>
                <p>
                    Reportes
                    <i class="right fas fa-angle-left"></i>
                </p>
            </a>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="./index.html" class="nav-link badge-info">
                        <i class="far fa-circle nav-item"></i>
                        <p><small>Report1</small></p>

                    </a>
                </li>
                <li class="nav-item">
                    <a href="./index.html" class="nav-link badge-info">
                        <i class="far fa-circle nav-item"></i>
                        <p><small>Report2</small></p>

                    </a>
                </li>
                <li class="nav-item">
                    <a href="./index.html" class="nav-link">
                        <i class="far fa-circle nav-item"></i>
                        <p><small>Report3</small></p>
                    </a>
                </li>

            </ul>
        </li>
        <li class="nav-item has-treeview menu-open">
            <a href="#" class="nav-link badge-info">
                <i class="nav-icon fa fa-search fa-fw"></i>
                <p>
                    Consultas
                    <i class="right fas fa-angle-left"></i>
                </p>
            </a>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="./index.html" class="nav-link badge-info">
                        <i class="far fa-circle nav-item"></i>
                        <p><small>Consulta1</small></p>

                    </a>
                </li>
                <li class="nav-item">
                    <a href="./index.html" class="nav-link badge-info">
                        <i class="far fa-circle nav-item"></i>
                        <p><small>Consulta2</small></p>

                    </a>
                </li>
                <li class="nav-item">
                    <a href="./index.html" class="nav-link">
                        <i class="far fa-circle nav-item"></i>
                        <p><small>Consulta3</small></p>
                    </a>
                </li>

            </ul>
        </li>




    </ul>

</aside>
