
<div class="options-box">
    <div class="btn-group btn-group-df float-right" role="group" aria-label="...">
     <button type="button" class="btn btn-default" onclick="goBack();">Volver <span class="glyphicon glyphicon-arrow-left"></span></button>
        @*<a href="@Url.Action("Index")" class="btn btn-default">Volver al Listado <span class="fa fa-arrow-circle-left"></span></a>*@
    </div>
</div>
