
    <div class="options-box">
        <div class="btn-group btn-group-df float-left" role="group" aria-label="...">
            <a title="Volver al listado" href="@Url.Action("Index")" class="btn btn-info">Volver <span class="fa fa-arrow-circle-left"></span></a>
            <button title="Agregar nuevo" type="submit" class="btn btn-primary"> Agregar <span class="fa fa-plus-circle"></span></button>
        </div>
    </div>
